<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|INICIO| -  CAR RC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="e.css">
</head>
<body>
    <header>
     <nav class="navbar-inverse navbar-static-top" role="navigation">    <!-- con inverse hacemos que cmabien los colores -->
            <div class="container">
                    <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm" aria-expended="false" aria-controls="navbar">
                            <span class="sr-only">Desplegar / Ocultar Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="" class="navbar-brand">CAR RC</a>
                    </div>
                    <!--Inicia el menu-->
                    <div class="collapse navbar-collapse" id="navegacion-fm">
                                    <ul class="nav navbar-nav">
                                            <li class="active"><a href="#">Inicio</a></li>
                                    </ul>
                    
                                    
                    </div>
            </div>
        </nav>
    </header>
    <section class="jumbotron">
            <div class="container">
                    <h1 class="titulo-blog">CAR RC</h1>
             <p>Programacion de secuencias de movimiento para autos a control remoto</p>
            </div>
           </section>

    <section class="main container"> 
           <div class="row">
               <section class ="posts col-md-8">
                   <div class="miga-de-pan">
                       <ol class="breadcrumb"> 
                            <li>Inicio</li>
                            <li class= "active">Acerca de nosotros</li>
                       </ol>
                   </div>

                   <article class ="post clearfix">
                    <a href="#" class="thumb pull-left">
                            <img class="img-thumbnail" src="rcd.jpg">

                    </a>
                    <h2 class="post-title">
                        <a href="#">Programador de secuencias de movimientos para un RC</a>
                    </h2>
                    <p><span class="post-fecha">26 de Enero de 2015</span> por <span class="post-autor">Gamal, Andres<a href="#"></a></span></p>
                   <p class="post contendio text-justify">
                        Bienvenidos a <strong>CAR RC</strong>, a continuacion podras hacer una programacion facil de secuencias para un auto a control remoto,
                        ademas de tener una simulacion previa de esta.
                        <br><br><br><br>
                        <br>
                        <br>
                        <br>
                       
                    </p>
                    
                    <div class="contenedor-botones">
                            <a href="#"class="btn btn-primary">Me gusta <span class="badge">87</span></a>
                            <a href="#"class="btn btn-success">Comentarios <span class="badge">20</span></a>
                    </div>
                </article>

                   <article class ="post clearfix">
                    <h2 class="post-title">
                        <a href="#">Pantalla RC</a>
                    </h2>
                    <p><span class="post-fecha">26 de Enero de 2015</span> por <span class="post-autor">Gamal, Andres<a href="#"></a></span></p>
                   <p class="post contendio text-justify">
                        Instrucciones a la derecha
                        <br>
                        <br>
                        <br>
                    
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <form method="get" action="/instrucciones">
                        Instruccion: <input type='text' name= 'instrucciones'> 
                        PosX:<input type='text' name= 'PosX'> 
                        PosY:<input type='text' name= 'PosY'> 
                        <br>
                        <br>
                        Terreno:<input type='text' name= 'Largo'> x <input type='text' name= 'Ancho'> 
                        Orientacion:<input type='text' name= 'Orientacion'/> 
                        <input type='submit' value= 'Submit'>
                        </form>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br> 
                        <br>
                        <br>
                        <br>
                        <br><br>
                        <br><br><br>
                        <br><br><br><br>
                        <br><br><br><br>
                    </p>
                    
                    <div class="contenedor-botones">
                            <a href="#"class="btn btn-primary">Me gusta <span class="badge">234</span></a>
                            <a href="#"class="btn btn-success">Comentarios <span class="badge">80</span></a>
                    </div>
                </article>

               
                
                <nav>
                    <div class="center-block">
                        <ul class="pagination">
                            <li class="disabled"><a href="#">&laquo;<span class="sr-only"></span>Anterior</a></li>
                            <li class="active"><a href="#">1</a></li>

                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="disabled"><a href="#">&raquo;<span class="sr-only"></span>Siguiente</a></li>
                        </ul>
                    </div>
                </nav>
               </section>
               <aside class="col-md-4 hidden-xs hidden-sm" >

                    <article class ="post clearfix">
                            <h3 class="post-title">
                                <a href="#">Informacion</a>
                            </h3>
                            <p><span class="post-fecha">29 de Enero de 2015</span> por <span class="post-autor">Gamal, Andres<a href="#"></a></span></p>
                           <p class="post contendio text-justify">
                                Una vez ejecutada la simulacion se correra la secuencia de movimientos escrita en el cuadro de texto, por
                                ejemplo "IAAIDI", el resultado sera la posicion final del auto, empieza en (0,0) y una respuesta podria ser (5,5) por ejemplo.
                                
                            </p>
                            <h4>Instrucciones basicas</h4>
                            <a href="#" class="list-group-item">
                                   <p class="list-group-item-heading">'D' = Derecha </p>
                            </a>
                            <a href="#" class="list-group-item">
                                    <p class="list-group-item-heading"> 'I' = Izquierda</p>
                            </a>
                            <a href="#" class="list-group-item">
                                    <p class="list-group-item-heading">'A' = Adelante</p>
                            </a>

            </aside>
           </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <p>Gamal Serhan - Andres Pereira</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="bootstrap-3.3.7-dist/js/jquery.js"></script>
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>
